<%= link_to "アカウント", users_show_path %>
<%= link_to "プロフィール", users_profile_path %>

<h1>アカウント</h1>

<h3>メールアドレス</h3>
<%= @user.email %>
<%= @user.name %>
<h3>パスワード</h3>
<%= "*********" %>

<%= link_to "編集", edit_user_registration_path,class: "btn btn-primary"%>