<h1>Rooms#index</h1>

 <table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名前</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>住所</th>
        <th>作成日</th>
      </tr>
    </thead>

     <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.room_image %></td>
            <td><%= room.room_name %></td>
            <td><%= room.room_intr %></td>
            <td><%= room.room_price %></td>
            <td><%= room.room_place %></td>
            <td><%= room.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
